<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Print Management Login</title>
    <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body> 
    <form action='/jobs/new' method='post'>
        <div class="vh-100 d-flex flex-column align-items-center justify-content-center">
            <div class="border flex-column align-items-center d-flex justify-content-center">
                <div class="p-2">
                    <h1>Add New File</h1>
                </div>
                <div class="p-2 justify-content-center">
                    <label for="id">Job Code</label><input id="id" name="jobCode" class="form-control" type="text" value="<%= uid %>" name="jobID" readonly>
                </div>
                <div class="p-2">
                    <label for="file">File To Print</label>
                    <select class="form-control" name="fileID" id="file">
                        <option value="">Select File</option>
                        <% for( let index = 0; index < files.length; index++ ) { %>
                            <option value="<%= files[index].ID %>"><%= files[index].name %> </option>
                        <% } %>
                    </select>
                </div>
                <div class="p-2">
                    <label for="orderID">Order</label>
                    <select class="form-control" name="orderID" id="orderID">
                        <option value="">Select Order</option>
                        <% for( let index = 0; index < orders.length; index++ ) { %>
                            <option value="<%= orders[index].ID %>"><%= orders[index].orderName %> </option>
                        <% } %>
                    </select>
                </div>
                <div class="p-2">
                    <label for="filamentID">Filament To Use</label>
                    <select class="form-control" name="filamentID" id="filamentID">
                        <option value="">Select Filament</option>
                        <% for( let index = 0; index < filaments.length; index++ ) { %>
                            <option value="<%= filaments[index].ID %>"><%= filaments[index].material %> - <%= filaments[index].color %></option>
                        <% } %>
                    </select>
                </div>
                <div class="p-2 justify-content-center">
                    <button type="submit" class="btn btn-primary" id="upload">Create Job</button>
                </div>
            </div>
        </div>
    </form>
</body>
</html>